.app {
  text-align: center;
  padding: 2rem;
  font-family: 'Segoe UI', sans-serif;
  background-color: rgb(17, 16, 16);
  min-height: 100vh;
  color: white;
}

.input-container {
  margin-bottom: 1rem;
}

input {
  padding: 0.5rem;
  width: 60%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  border: none;
  background-color: #00b894;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  max-width: 400px;
  margin: 0 auto;
}

li {
  background: rgb(19, 17, 17);
  margin-bottom: 0.5rem;
  padding: 0.75rem;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  border: 1px solid #ddd;
}

li.done span {
  text-decoration: line-through;
  color: gray;
}

.delete {
  background-color: #d63031;
}
